<!DOCTYPE html>
<html>
  <head>
    <title>Console login</title>
  </head>
  <body>
    <h1>AWS Console Logins</h1>
    <p>A list of available console logins for {{ user }}</p>
    <ul>
      {% for role in roles: %}
        <li><a href="/login/{{ role[0] }}/{{ role[1] }}">Account # {{ role[0] }}, Role {{ role[1] }}</a></li>
      {% endfor %}
    </ul>
    <h2>App details</h2>
    <p>
      <b>User:</b> {{ id_user }}<br>
      <b>Account:</b> {{ id_account }}<br>
      <b>Arn:</b> {{ id_arn }}
    </p>
  </body>
</html>